.calculator {
  background-color: grey;
  padding: 10px;
  margin: auto;
  height: 650px;
  width: 400px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px 20px 50px 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "output output"
    ". ."
    "options options"
    "numbers operators";
}

.ouput {
  grid-area: output;
  border-radius: 5px;
  background-color: white;
  font-size: 2rem;
  padding: .5em;
  text-align: right;
}

.numbers {
  grid-area: numbers;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);

  .number {
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 2rem;
    margin: auto;
    padding: 1em;
  }
}

.options {
  grid-area: options;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;

  .option {
    border-radius: 5px;
    background-color: black;
    color: white;
    margin: auto;
    font-size: 1rem;
    padding: 1em 1.5em;
  }
}

.operators {
  grid-area: operators;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;

  .operator {
    font-size: 1rem;
    margin: auto;
    padding: 2rem;
    background-color: black;
    color: white;
    border-radius: 5px;
  }
}
