.slide {
  position: absolute;
  height: 100%;
  border-radius: 5px;
  transition: all .5s ease;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px orange;

  .slide-link {
    margin: 10px 10px auto auto;
    color: orange;
    font-size: 50px;
  }

  .slide-title {
    margin: auto auto 10px 10px;
    font-size: 20px;
    color: white;
  }

  .slide-description {
    margin: 0 auto 10px 10px;
    color: rgba(255, 255,255, .5);
  }
}
